MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_BROKER_USERNAME=YOUR_BROKER_USERNAME
MQTT_BROKER_PASSWORD=YOUR_BROKER_PASSWORD
MQTT_BROKER_CONNECT_TIMEOUT=60000
MQTT_BROKER_RECONNECT_PERIOD=5000
MQTT_BROKER_KEEP_ALIVE=60

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=automatic_irrigator